<% if request.variant == :phone %>
  <% render :error %>
<% end %>
<script src="//maps.google.com/maps/api/js?key=AIzaSyChu5TaHmlYjg1um6R9zwMqfJQT_EFAwrU"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js'> </script>
<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'info', media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>
<style type="text/css">body{height: 100%; overflow: hidden; background: url("assets/bwbangalore.png")} #myFooter {bottom: 0; position: fixed; width: 100%;}</style>
  
  <div id="charity-wrapper">

    <div id="map">
      <!-- map display -->
    </div>

    <div id="charity-sidebar">

      <div class="list-group" id="sidebar_container">
        <!-- map sidebar list  -->
      </div>

    </div>

  </div>


<script type="text/javascript">
function createSidebarLi(json){
  return ("<a class='list-group-item'>" + json.marker_title + "</a>");
};

function bindLiToMarker($li, marker){
  $li.on('click', function(){
    handler.getMap().setZoom(10);
    marker.setMap(handler.getMap()); //because clusterer removes map property from marker
    marker.panTo();
    google.maps.event.trigger(marker.getServiceObject(), 'click');
  })
};

function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('#sidebar_container');
    bindLiToMarker($li, json.marker);
  });
};

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map'}}, function(){
  var json_array = <%= raw @hash.to_json %>;
  

  var markers = handler.addMarkers(json_array);

  _.each(json_array, function(json, index){
    json.marker = markers[index];
  });

  createSidebar(json_array);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
